/* for 1920*1080 devices */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: rgba(241, 234, 234, 0.979);
}

/* first section  css */

.banner {
  background: #2d25a0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

.banner-p {
  margin-left: 132px;
  height: 230px;
  width: 485px;
}

.banner-p p {
  color: white;
  font-weight: bolder;
  font-size: 35px;
  line-height: 50px;
}

.watch-live {
  margin-left: 132px;
}

.watch-live h2 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 40px;
  border-radius: 5px;
  margin-bottom: 169px;
  width: 108px;
  height: 25px;
  padding: 10px 25px;
  text-align: center;
  color: white;
  background-color: #e02c6d;
}

span {
  color: yellowgreen;
  text-align: center;
}

.banner-image img {
  height: 556px;
  width: 438px;
  object-fit: contain;
  padding-right: 50px;
  margin-bottom: 86px;
}

/* animation on "watch live" button*/

.watch-live h2:hover {
  color: whitesmoke;
  background-color: #f85a11;
  transform: rotate(360deg) translate(90px);
  transition: transform 1s ease-out;
}

/* second section css*/

.second-section {
  margin-left: 350px;
  margin-right: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.players {
  margin-left: 30px;
  margin-top: 30px;
  background-color: white;
  height: 456px;
  width: 330px;
  padding: 15px;
  overflow: hidden;
}

.player-image {
  object-fit: cover;
  width: 330px;
  height: 250px;
}

/* hover and animation */

.players:hover {
  border: lightslategray solid 1px;
  box-shadow: lightslategray 0px 0px 20px 5px;
  border-radius: 15px;
}

.player-image:hover {
  transform: scale(1.2);
  transition: transform 2s ease-in-out;
}

/* footer  */

footer {
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  padding-top: 50px;
  height: 110px;
  width: 480px;
}

i {
  padding: 5px;
}

/* media query */
/* for mobile devices */

@media only screen and (max-width: 688px) {
  .banner {
    flex-direction: column;
    padding-left: 80px;
  }

  .second-section {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
  }

  .players {
    margin: 0;
  }

  .logo img {
    height: 100px;
    width: 180px;
  }
}

/* for tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .banner {
    padding-left: 100px;
  }

  .banner-p {
    width: 320px;
  }

  .banner-image img {
    padding-right: 180px;
  }

  .players {
    margin-left: 100px;
  }

  .second-section {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0px;
  }
}
